<div class="p-2">
	<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
		<div class="p-2">
			<button color="primary" mat-raised-button (click)="openProfileModal()">
				<mat-icon>add_circle</mat-icon>
				&nbsp;
				ADD
			</button>
		</div>
		<div class="p-2">
			<button color="warn" mat-raised-button (click)="refreshList()">
				<mat-icon>repeat</mat-icon>
				&nbsp;
				REFRESH
			</button>
		</div>
	</div>
</div>

<div class="p-2">
	<div class="m-1 p-1" *ngFor="let item of profileService.items">
		<mat-card style="cursor: pointer;" (click)="openProfileModal(item)">
			<mat-card-title>
				<h4><mat-icon inline="true">extension</mat-icon>&nbsp;{{item.name}}</h4>
			</mat-card-title>
			<mat-card-content>
				<mat-chip-list>
					<mat-chip style="text-transform: uppercase;">{{item.container}}</mat-chip>
					<mat-chip style="text-transform: uppercase;">{{item.video.codec}}</mat-chip>
					<mat-chip selected color="warn" style="text-transform: uppercase;" [matTooltip]="'Passthru'" *ngFor="let audio of item.audio.passthrough">{{audio}}</mat-chip>
					<mat-chip style="text-transform: uppercase;" [matTooltip]="'Transcode'">{{item.audio.codec}}</mat-chip>
					<mat-chip style="text-transform: lowercase;">{{item.audio.quality}} kbps</mat-chip>
					<mat-chip [matTooltip]="lang" *ngFor="let lang of item.language.wanted">{{lang}}</mat-chip>
				</mat-chip-list>
			</mat-card-content>
		</mat-card>
	</div>
</div>