/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #ececec;}

small,.small {
	font-weight: lighter;
	font-size: 12px;
}

.p-1 {
	padding: 5px;
}

.p-2 {
	padding: 10px;
}

.m-1 {
	margin: 5px;
}

.m-2 {
	margin: 10px;
}

.mt-1 {
	margin-top: 5px;
}

.mt-2 {
	margin-top: 10px;
}

.ml-1 {
	margin-left: 2px;
}

.text-grey {
	color: grey;
}

.font-weight-lighter {
	font-weight: lighter;
}

.font-size-medium {
	font-size: 14px;
}
