<div mat-dialog>
	<div mat-dialog-title>
		{{mode === 'add' ? 'Add' : 'Modify'}} Profile
	</div>
	<div mat-dialog-content>
		<div class="p-1">
			<mat-form-field>
				<mat-label>Name</mat-label>
				<input type="text" [(ngModel)]="profile.name" matInput>
			</mat-form-field>
		</div>
		<div class="mt-1">
			<mat-icon inline="true">movie</mat-icon>
			<span class="ml-1">Video</span>
		</div>
		<div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
			<div class="p-1">
				<mat-form-field>
					<mat-label>Container</mat-label>
					<mat-select [(ngModel)]="profile.container">
						<mat-option value="mkv">MKV</mat-option>
						<mat-option value="mp4">MP4</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="p-1">
				<mat-form-field>
					<mat-label>Video Codec</mat-label>
					<mat-select [(ngModel)]="profile.video.codec">
						<mat-option value="h264">H.264</mat-option>
						<mat-option value="h265">H.265</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="p-1">
				<mat-form-field>
					<mat-label>Transcoder Quality</mat-label>
					<mat-select [(ngModel)]="profile.video.quality">
						<mat-option value="ultrafast">Ultra Fast (Lowest Quality)</mat-option>
						<mat-option value="superfast">Super Fast</mat-option>
						<mat-option value="veryfast">Very Fast</mat-option>
						<mat-option value="faster">Faster</mat-option>
						<mat-option value="fast">Fast</mat-option>
						<mat-option value="medium">Medium</mat-option>
						<mat-option value="slow">Slow</mat-option>
						<mat-option value="slower">Slower</mat-option>
						<mat-option value="veryslow">Very Slow (Highest Quality)</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="mt-1">
			<mat-icon inline="true">audiotrack</mat-icon>
			<span class="ml-1">Audio</span>
		</div>
		<div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
			<div class="p-1">
				<mat-form-field>
					<mat-label>Audio Codecs (Passthru)</mat-label>
					<mat-select multiple [(ngModel)]="profile.audio.passthrough">
						<mat-option *ngFor="let codec of codecs" [value]="codec.value">{{codec.label}} {{codec.lossless ? '(Lossless)': ''}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="p-1">
				<mat-form-field>
					<mat-label>Audio Codec (Fallback)</mat-label>
					<mat-select (selectionChange)="calculateRecommendedBitrate()" [(ngModel)]="profile.audio.codec">
						<ng-container *ngFor="let codec of codecs">
							<mat-option *ngIf="!codec.lossless && !codec.value.includes('dts')" [value]="codec.value">{{codec.label}}</mat-option>
						</ng-container>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="p-1">
				<mat-form-field>
					<mat-label>Audio Mixdown (Fallback)</mat-label>
					<mat-select (selectionChange)="calculateRecommendedBitrate()" [(ngModel)]="profile.audio.channels">
						<mat-option [value]="2">Stereo</mat-option>
						<mat-option [value]="6">5.1 Channels</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="p-1">
				<mat-form-field>
					<mat-label>Audio Bitrate (kbps)</mat-label>
					<input type="number" matInput [(ngModel)]="profile.audio.quality">
				</mat-form-field>
			</div>
		</div>
		<div class="mt-1">
			<mat-icon inline="true">translate</mat-icon>
			<span class="ml-1">Languages</span>
		</div>
		<div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
			<div class="p-1">
				<mat-form-field>
					<mat-label>Languages to keep</mat-label>
					<mat-select multiple [(ngModel)]="profile.language.wanted">
						<mat-option *ngFor="let code of codes" [value]="code.value">{{code.label}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="p-1">
				<mat-form-field>
					<mat-label>Primary language</mat-label>
					<mat-select [(ngModel)]="profile.language.primary">
						<mat-option *ngFor="let code of codes" [value]="code.value">{{code.label}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</div>
	<div mat-dialog-actions align="center">
		<div class="p-1">
			<button color="primary" (click)="save()" mat-raised-button>
				Save
			</button>
		</div>
		<div class="p-1">
			<button mat-raised-button mat-dialog-close>
				Close
			</button>
		</div>
	</div>
</div>