<mat-card class="mat-elevation-z1">
  <mat-card-content>
    <div
      style="
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
      "
    >
      <div>
        <mat-checkbox [disabled]="item.started" color="primary"
          >{{ item.filename }}</mat-checkbox
        >
      </div>
      <div>
        <button
          *ngIf="item.started && !item.finished"
          [disabled]="queueService.inProgress"
          mat-icon-button
          matTooltipPosition="left"
          [matTooltip]="'Stop'"
          (click)="queueService.stop()"
        >
          <mat-icon style="font-size: 25px" inline="true">stop_circle</mat-icon>
        </button>
        <div
          *ngIf="item.started && item.finished && item.status === 'Completed'"
          mat-icon-button
          matTooltipPosition="left"
          [matTooltip]="'Finished'"
        >
          <mat-icon style="font-size: 25px; color: green;" inline="true">check</mat-icon>
        </div>
        <div
        *ngIf="item.started && item.finished && item.status.includes('Error')"
        mat-icon-button
        matTooltipPosition="left"
        [matTooltip]="'Finished'"
      >
        <mat-icon style="font-size: 25px; color: red;" inline="true">error</mat-icon>
      </div>
        <button
          *ngIf="!item.started"
          mat-icon-button
          matTooltipPosition="left"
          [matTooltip]="'Remove from queue'"
          (click)="queueService.removeFromQueue(item.filename)"
        >
          <mat-icon style="font-size: 25px" inline="true">delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="mt-2">
      <div class="mat-small">
        {{item.status}}
      </div>
      <div class="mt-1">
        <mat-progress-bar
        [style.visibility]="
          item.started && !item.finished ? 'visible' : 'hidden'
        "
        [mode]="'indeterminate'"
      ></mat-progress-bar>
      </div>
    </div>
  </mat-card-content>
</mat-card>
