<div class="container-fluid">
  <div class="p-2">
    <div
      class="mt-1 p-2"
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      "
    >
      <div>
        <span *ngIf="queueService.items.length"
          >{{ queueService.items.length }} remaining item(s) in the queue</span
        >
        <span *ngIf="!queueService.items.length">No items in the queue</span>
      </div>
      <div>
        <button
          [disabled]="!(queueService.items.length > 0 && canShowStartButton)"
          mat-raised-button
          color="primary"
          (click)="queueService.start()"
          [matTooltip]="'Start'"
        >
          <mat-icon>play_arrow</mat-icon>
        </button>
        &nbsp;
        <button
          [disabled]="!(queueService.items.length > 0 && canShowClearButton)"
          mat-raised-button
          color="warn"
          (click)="queueService.clear()"
          [matTooltip]="'Clear'"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <div class="mt-2 border bg-white">
      <div style="border-bottom: solid thin #e5e5e5;" *ngFor="let item of queueService.items">
        <app-queue-entry [item]="item"></app-queue-entry>
      </div>
    </div>
  </div>
</div>
