<div class="p-2">
	<div class="m-2" align="center">
		<button [disabled]="moviesService.progress" color="warn" mat-raised-button (click)="refreshList()">
			<mat-icon>repeat</mat-icon>
			&nbsp;
			REFRESH
		</button>
	</div>
	<div class="m-2 p-1" align="center">
		<span *ngIf="moviesService.items.length">{{moviesService.items.length}} movies found</span>
		<span *ngIf="!moviesService.items.length">No movies found</span>
	</div>
	<div class="m-2" *ngFor="let item of moviesService.items">
		<mat-card>
			<mat-card-content>
				<app-movie-entry [item]="item"></app-movie-entry>
			</mat-card-content>
		</mat-card>
	</div>
</div>