<div class="container-fluid">
  <div class="p-2">
    <div
      class="m-2"
      align="center"
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      "
    >
      <div class="m-1">
        <button
          color="primary"
          *ngIf="queueService.queues.length > 0"
          (click)="addJob()"
          [disabled]="moviesService.progress"
          mat-raised-button
        >
          <mat-icon>add_circle_outline</mat-icon>
          &nbsp; Add to queue
        </button>
      </div>
      <div class="m-1">
        <button
          color="warn"
          [disabled]="moviesService.progress && false"
          mat-raised-button
          (click)="refreshList()"
        >
          <mat-icon>repeat</mat-icon>
          &nbsp; Refresh
        </button>
      </div>
    </div>
    <div class="m-2 p-1" align="center">
      <span *ngIf="moviesService.items.length"
        >{{ moviesService.items.length }} movies found</span
      >
      <span *ngIf="!moviesService.items.length">No movies found</span>
    </div>
    <div class="m-2 p-4 border bg-white">
      <app-movie-entry
        *ngFor="let item of moviesService.items"
        [item]="item"
      ></app-movie-entry>
    </div>
  </div>
</div>
